.box{
    background-color: gray;
    width:110%;
    margin:0px;
    display: flex;
}

.batch{
padding-top: 100px;
}


.bottom-text{
    font-size: 24px;
    color: #C31300;
    
}


.right{
    display: block;
}


.career{
    color: #020101;
    font-size: 30px;
} 

.bottom-button{
    text-decoration: none;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #C31300;
    border-radius: 30px 30px 30px 30px;
    height:46px;
    width:162px;
}


/* footer */



.part1{
    background-color:rgb(192, 32, 38);
    padding-left: 21px;
   }
   .text8{
    width: 293px;
    color: white;
    margin-left: 53px;
    
   }
   .footer
   {
    position: relative;
    background-color:rgb(192, 32, 38);
    display: flex;
   }
   .image7{
    margin-left: 33px;
   }
   .text9{
    margin-left:20px;
    color: white;
   }
   .textc{
    color:white;
   }
   .home{
    margin-left: 10%;
   }
   .text10{
    color:white;
  
   }
   .technology{
    margin-left:69px;
   }
   .image{
    display: flex;
   }
   .linkedin{
    width: 40px;
    height: 40px;
  }
  .linkedin1{
    padding-left: 10%;
    width: 53px;
    height: 40px;
  }
  .linkedin2{
    padding-left: 10%;
    width: 53px;
    height: 40px;
  }
  .linkedin3{
    padding-left: 10%;
    width: 53px;
    height: 40px;
  }
   .images{
    margin-top: 242px;
    display: flex;;
   }
   .hello{
    display: flex;
    background-color: rgb(192, 32, 38);;
    color:white;
  
   }
   .iso{
    height: 138px;
    width: 186px;
    margin-left: 84px;
  }
    
    
   
   .hello1{
    background-color: rgb(192, 32, 38);
    color:white;
    padding-left:30%;
   }